# Proveedor de LLM: openai | anthropic
LLM_PROVIDER=openai

# Modelo a utilizar (usa modelos economicos para este ejercicio)
# openai -> gpt-4o-mini | anthropic -> claude-haiku-4-5
LLM_MODEL=gpt-4o-mini

# API Keys (solo necesitas la del proveedor que uses)
OPENAI_API_KEY=your-key-here
ANTHROPIC_API_KEY=your-key-here

APP_ENV=development
LOG_LEVEL=info
